body {
  background: #ee5;
}
h2, h3, h4 {
  display: inline-block;
}
ul {
  list-style: none;
}
li {
  display: block;
}
li span {
  display: inline-block;
  min-width:5em;
  min-height: 1em;
  padding: 8px;
}
#container {
  max-width: 800px;
  min-height: 800px;
  margin: 0 auto;
  height: 100%;
  border: 1px solid #aa5;
}
#queueContainer {
  opacity: .6;
}
#todoQueue {
  opacity: .6;
}
#completedList span {
  text-decoration: line-through;
}