body{
  font-family: Helvetica, Arial, sans-serif;
  text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.3);
  background: url('roughcloth.png');
}
header{
  text-align: center;
}
#containerDiv{
  display: block;
  position: relative;
  margin: 30px;
  padding: 5px;
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  background: url('groovepaper_dark.png');
}
#button{
  float: right;
  margin: 10px;
  padding: 10px;
  background: yellow;
  opacity: .5;
}
#button:hover{
  opacity: 1;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.removeButton{
  display: inline-block;
  padding: 6px;
  margin-left:-6px;
  color: white;
  background: black;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.removeButton:hover{
  
  padding-left: 12px;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.toDo{
  display: inline-block;
  margin: 6px;
  padding: 6px;
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
  background: url('groovepaper.png');
  z-index: 10;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.toDo:hover{
  /*margin-left: 8px;
    margin-right: 6px;
    margin-bottom: 8px;
    margin-top: 4px;*/
  -webkit-transform: translate(4px, -4px);
  -moz-transform: translate(4px, -4px);
  transform: translate(4px, -4px);
  -moz-box-shadow: -2px 2px 14px rgba(0,0,0,0.8);
  -webkit-box-shadow: -2px 2px 14px rgba(0,0,0,0.8);
  box-shadow: -2px 2px 14px rgba(0,0,0,0.8);
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}
.comicSans{
  font-family: Comic Sans, Comic Sans MS, cursive;
}
#about{
}